@charset "utf=8";
/* 폰트 -나눔바른고딕 */
@import url('https://webfontworld.github.io/naver/NanumBarunGothic.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    word-break: keep-all;
    font-family: 'NanumBarunGothic', sans-serif;
}
